{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "rules": {
    "max-len": ["error", 90],
    "no-param-reassign": "off",
    "no-use-before-define": "off",
    "arrow-parens": ["error", "as-needed"],
    "prefer-rest-params": "off"
  }
}
